<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="A:\Softwares\GitHub\Attendence_Team_2\HR_Management\log4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
  <!--localdb-->
  <!--<connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=NP-HP\MSSQLSERVER2012;AttachDbFilename=|DataDirectory|\HR_Management_sync.mdf;Initial Catalog=HR_Management_sync;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>-->

  <!--gym localdb-->
  <!--<connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=NP-HP\MSSQLSERVERNEW;AttachDbFilename=|DataDirectory|\HR_Management_Gym.mdf;Initial Catalog=HR_Management_Gym;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>-->

  <!--onlinedb Amazon-->
  <!--<connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=ec2-54-70-253-18.us-west-2.compute.amazonaws.com,1433;initial catalog=HR_Management_sync;user id=sa;password=Password&amp;*9;MultipleActiveResultSets=True;App=EntityFramework&quot;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>-->

  <!--onlinedb bussiness Manager-->
  <!--<connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=sharedmssql5.znetindia.net,1234;initial catalog=HRM_Managment;user id=HRMManagement;password=Attendence&amp;*9;MultipleActiveResultSets=True;App=EntityFramework&quot;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>-->

  <!--onlinedb TOI Manager-->
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=sharedmssql5.znetindia.net,1234;initial catalog=TOIManager;user id=TOIUser;password=dailyToi&amp;*9;MultipleActiveResultSets=True;App=EntityFramework&quot;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="log4net.Internal.Debug" value="true" />
    <add key="AdminEmail" value="info@fdclothing.in" />
    <add key="ReceiverEmail" value="info@fdclothing.in" />
    <add key="ReceiverEmailBCC" value="sharmadiw@gmail.com" />
    <add key="EmailMode" value="ON" />
    <add key="ProjectName" value="FD Clothing" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <customErrors mode="Off"></customErrors>
    <authentication mode="Forms">
      <forms loginUrl="/Account/Login"></forms>
    </authentication>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
  <system.net>
    <mailSettings>
      <!--<smtp from="admin@fdclothing.in">
        <network host="mail.fdclothing.in" port="25" userName="admin@fdclothing.in" password="Admin@123" defaultCredentials="false" />
      </smtp>-->
       <smtp from="testformail99@gmail.com">
        <network host="smtp.gmail.com" port="587" userName="testformail99@gmail.com" password="Organic&amp;*9" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <log4net>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <param name="BufferSize" value="0" />
      <param name="ConnectionType" value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.30319.1, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <param name="ConnectionString" value="Data Source=NP-HP\MSSQLSERVERNEW;AttachDbFilename=|DataDirectory|\HR_Management.mdf;Initial Catalog=HR_Management;Integrated Security=True" />
      <param name="CommandText" value="INSERT INTO LogEntries (LogDate, Logger, LogLevel, Thread, EntityFormalNamePlural, EntityKeyValue, UserName, Message, Exception) VALUES (@log_date, @logger, @log_level, @thread, @entityFormalNamePlural, @entityKeyValue, @userName, @message, @exception)" />

      <param name="Parameter">
        <param name="ParameterName" value="@log_date" />
        <param name="DbType" value="DateTime" />
        <param name="Layout" type="log4net.Layout.RawTimeStampLayout" />
      </param>

      <param name="Parameter">
        <param name="ParameterName" value="@logger" />
        <param name="DbType" value="String" />
        <param name="Size" value="30" />
        <param name="Layout" type="log4net.Layout.PatternLayout">
          <param name="ConversionPattern" value="%c" />
        </param>
      </param>

      <param name="Parameter">
        <param name="ParameterName" value="@log_level" />
        <param name="DbType" value="String" />
        <param name="Size" value="5" />
        <param name="Layout" type="log4net.Layout.PatternLayout">
          <param name="ConversionPattern" value="%p" />
        </param>
      </param>

      <param name="Parameter">
        <param name="ParameterName" value="@thread" />
        <param name="DbType" value="String" />
        <param name="Size" value="10" />
        <param name="Layout" type="log4net.Layout.PatternLayout">
          <param name="ConversionPattern" value="%t" />
        </param>
      </param>

      <param name="Parameter">
        <param name="ParameterName" value="@entityFormalNamePlural" />
        <param name="DbType" value="String" />
        <param name="Size" value="30" />
        <param name="Layout" type="log4net.Layout.PatternLayout">
          <param name="ConversionPattern" value="%property{EntityFormalNamePlural}" />
        </param>
      </param>

      <param name="Parameter">
        <param name="ParameterName" value="@entityKeyValue" />
        <param name="DbType" value="Guid" />
        <param name="Layout" type="log4net.Layout.PatternLayout">
          <param name="ConversionPattern" value="%property{EntityKeyValue}" />
        </param>
      </param>

      <param name="Parameter">
        <param name="ParameterName" value="@userName" />
        <param name="DbType" value="String" />
        <param name="Size" value="256" />
        <param name="Layout" type="log4net.Layout.PatternLayout">
          <param name="ConversionPattern" value="%property{UserName}" />
        </param>
      </param>

      <param name="Parameter">
        <param name="ParameterName" value="@message" />
        <param name="DbType" value="String" />
        <param name="Size" value="256" />
        <param name="Layout" type="log4net.Layout.PatternLayout">
          <param name="ConversionPattern" value="%m" />
        </param>
      </param>

      <param name="Parameter">
        <param name="ParameterName" value="@exception" />
        <param name="DbType" value="String" />
        <param name="Size" value="10000" />
        <!--<param name="Layout" type="log4net.Layout.ExceptionLayout"/>-->
        <param name="Layout" type="HR_Management.Web.Helpers.TracingLayout" />
      </param>

    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="AdoNetAppender" />
    </root>
  </log4net>
</configuration>