<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/charisma-master/css/charisma-app.css" rel="stylesheet" />

@{
    Layout = null;
}
<hgroup class="title">
    <h1>Forgot Password Confirmation</h1>
</hgroup>
<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>
	
