
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/charisma-master/css/charisma-app.css" rel="stylesheet" />
@{
    Layout = null;
}
<hgroup class="title">
    <h1>Reset password confirmation</h1>
</hgroup>
<div>
    <p>
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
